@model GoKeyboardRest.Api.Models.LessonItemCharViewModel
@{
	Layout = null;
}
@if (@Model.Char == ' ')
{
    <span rel="@((int)Model.Char)" data-index="@Model.Index">&nbsp;</span>
}
else if (@Model.Char == '#')
{
    <span rel='32' data-index="@Model.Index">&nbsp;</span>@*<div class='spacer'></div>*@
}
else
{
    <span rel="@((int)Model.Char)" data-index="@Model.Index">@Model.Char</span>
}