@using GoKeyboard.DTO   
@using GoKeyboardRest.Api.Models
@model GoKeyboard.DTO.GkLesson
@{
    ViewBag.Title = "Index";
}
@*<div id="chartdebugPlaceHolder"></div>*@
<div id="lesson">
    <h2>Leçon : @Model.Name</h2>    
    @{int pageIndex = 0; int nextLesson = @Model.GkLessonId + 1; int charIndex = 0;}
    <a href="javascript:window.location.href = window.location.href;" class="btn btn-default">Réessayer</a>
    <a href="@Url.Action("Lesson", new { id = nextLesson })" class="btn btn-default">Leçon suivante</a>
    <div class="row">
        <div>
            @foreach (GkLessonPage lessonPage in @Model.LessonPages)
            {
                pageIndex++;
                <div class="page">
                    @foreach (char item in lessonPage.Text)
                    {
                        @Html.Partial("CharViewPartial", new LessonItemCharViewModel { Char = item, Index = charIndex })
                        charIndex++;
                    }
                </div>
            }
            @Html.Partial("~/Views/Partials/KeyboardHelper.cshtml", new KeyboardHelperViewModel(Model))
        </div>
        <div class="endpage">
            <h2>Bravo ! </h2>
            <p>Vous avez fait <span id="totalErrorCount"></span> erreur(s) en <span id="timeSpent"></span>s</p>
            <p>Vous avez tapé <span id="charsTyped"></span> caractères à raison de <span id="charsTypedPerMinute"></span> caractères par minute.</p>
            <p>Voici la répartition des erreurs que vous avez faites :</p>
            <div id="chartplaceholder"></div>
        </div>
        @Html.Partial("~/Views/Partials/PreLessonPopin.cshtml")
    </div>
    

    @section scripts
{
        <script type="text/javascript" src="@Url.Content("~/Scripts/Sound.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Timer.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/LessonEngine.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.flot.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.flot.categories.js")"></script>

        <script>
            var sounds =
            {
                "win": '@Url.Content("~/Content/Sounds/new/win.mp3")',
            	"miss": '@Url.Content("~/Content/Sounds/new/miss.mp3")',
            	"kk" : '@Url.Content("~/Content/Sounds/new/tic.wav")',
            };

            $(function ()
            {
                $(".infinite").knob({});
                $(".bonus").knob({});

                var engine = new LessonEngine();
                engine.sounds = sounds;
                engine.Init();
                engine.totalCharsAmount = @Model.CharsAmount;
                ShowPopinBase();
            });

        </script>
    }
